<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width"/>

<title>Minha Clínica</title>

<link rel="stylesheet" th:href="@{/css/estilo.css}" />

</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a th:href="@{/}">Minha Clínica</a></li>

				<li><a th:href="@{/contatos}"> Listar </a></li>

				<li><a th:href="@{/contatos/novo}"> Novo </a></li>
			</ul>
		</nav>
	</header>
		
	<main>
		<section>
			<h1>Seja bem vindo(a)!</h1>
		</section>
	</main>
</body>

</html>